@model IEnumerable<ListaDeTarefas.Models.Tarefa>
@{
    var id = ViewData["id"];
}

<div class="container">
    <form asp-controller="TarefaUser" asp-action="Index" method="get">
        <div class="control-label">

            <select name="situacao" class="control-label">
                <option value=""></option>
                <option value=1>Ativo</option>
                <option value=0>Inativo</option>
            </select>

            <select name="prioridade" class="control-label">
                <option value=""></option>>
                <option value=1>Alta</option>
                <option value=0>Baixa</option>
            </select>

            <input type="submit">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Descricão
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fim
                </th>
                <th>
                    Situação
                </th>
                <th>
                    Prioridade
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @id
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.NomeTarefa)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Inicio.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Fim.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.DescricaoStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.DescricaoPrioridade)
                    </td>
                    <td>
                        <a asp-action="AtualizarTarefas" asp-route-id="@item.FkUserTarefa" asp-route-idTarefa="@item.TarefasId" class="btn btn-info">Atualizar</a>
                        <a asp-action="ExcluirTarefa" asp-route-id="@item.FkUserTarefa" asp-route-idTarefa="@item.TarefasId" class="btn btn-danger">Excluir</a>

                    </td>
                </tr>


            }
        </tbody>
    </table>
</div>

@foreach (var item in Model) 
{
    <a asp-action="NovaTarefa" asp-route-id="@item.FkUserTarefa" class="btn btn-primary">Nova Tarefa</a>
}
    